.u-section-1 .u-sheet-1 {
  min-height: 1469px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 3.75rem;
  font-weight: 400;
  margin: 22px 43px 0 69px;
}

.u-section-1 .u-list-1 {
  margin-top: 22px;
  margin-bottom: 42px;
  grid-template-rows: repeat(1, auto);
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18px));
  min-height: 1316px;
  grid-auto-columns: calc(33.3333% - 18px);
  grid-gap: 27px;
}

.u-section-1 .u-image-1 {
  --radius: 50px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  margin: 439px 20px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.75rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-image-2 {
  --radius: 50px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  margin: 439px 20px 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.75rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-image-3 {
  --radius: 50px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  margin: 439px 20px 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.75rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-image-4 {
  --radius: 50px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  margin: 439px 20px 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.75rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-image-5 {
  --radius: 50px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  margin: 439px 20px 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.75rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-image-6 {
  --radius: 50px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}

.u-section-1 .u-container-layout-6 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-12 {
  text-transform: uppercase;
  margin: 439px 20px 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.75rem;
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1063px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 740px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 18px));
    min-height: 1079px;
    grid-auto-columns: calc(33.333333333333336% - 18px);
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1588px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 1905px;
    grid-auto-columns: calc(50% - 13.5px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-10 {
    width: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-12 {
    width: auto;
  }

  .u-section-1 .u-text-13 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 3rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3788px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-weight: 700;
    margin-top: 43px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 3614px;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    --radius: 10px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 422px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 15px;
  }

  .u-section-1 .u-image-2 {
    --radius: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 14px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 422px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 15px;
  }

  .u-section-1 .u-image-3 {
    --radius: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 14px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 422px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 15px;
  }

  .u-section-1 .u-image-4 {
    --radius: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 14px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 422px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 15px;
  }

  .u-section-1 .u-image-5 {
    --radius: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 14px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 422px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 15px;
  }

  .u-section-1 .u-image-6 {
    --radius: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 14px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 422px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 15px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) 50% 50%;
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 682px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 13px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 31px;
  margin-bottom: 60px;
  grid-template-rows: repeat(1, auto);
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 399px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 20px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 34px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-size: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 34px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-size: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 34px auto 0;
}

.u-section-2 .u-text-8 {
  margin: 25px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 542px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 203px;
  }
} .u-section-3 {
  background-image: linear-gradient(to right, #478ac9, #db545a);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 430px;
}

.u-section-3 .u-text-1 {
  width: 858px;
  margin: 19px auto 0;
}

.u-section-3 .u-image-1 {
  width: 225px;
  height: 300px;
  margin: -83px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 0 59px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 18px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 19px;
  }
}