body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 2em;
}

#imageboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

rssapp-imageboard {
  width: 100%;
  max-width: 600px; /* Atur lebar maksimum sesuai kebutuhan */
  margin: 10px;
}
